body {
    font-size: 1.8em;
    font-family: "Verdana", sans-serif;
}

.btn {
    cursor: hand;
    border: 1px solid #ccc;
    
}

.btn-full {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 10px;
}

.btn-head {
    display: block;
    font-size: 1.6em;
    font-weight: bold;
}

.btn-body {
    font-size: 1.0em;
}

.team {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 10px;
    border-bottom: 1px solid #ccc;
}

.team .name {
    color: #666;
    /*color: red;*/
    /*border: 1px solid red;*/
}

.team .id {
    font-weight: bold;
    padding: 10px 20px;
    /*border: 1px solid blue;*/
}

.team .time {
    display: inline-block;
    /*border: 1px solid yellow;*/
}


.warning {
    background-color: red;
}