body {
    font-size: 1.8em;
    font-family: "Verdana", sans-serif;
}

.btn {
    cursor: hand;
    border: 1px solid #ccc;
    
}

.btn-full {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 10px;
}

.btn-head {
    display: block;
    font-size: 1.6em;
    font-weight: bold;
}

.btn-body {
    font-size: 1.0em;
}

.team {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 10px;
    position: relative;
    /*border-bottom: 1px solid #ccc;*/
}

.team .id {
    position: absolute;
    left: 0;
    text-align: center;
    border-radius: 10% 30%;
    width: 3ch;
    background: #ddd;
}

.team .name {
    color: #666;
    position: absolute;
    left: 10%;
    /*color: red;*/
    /*border: 1px solid red;*/
}

.team .time-diff {
    position: absolute;
    right: 0;
    padding-right: 10px;
    /*display: inline-block;*/
    /*text-align: right;*/
    border: 1px solid green;
}

.team .time-out {
    /*display: inline-block;*/
    /*text-align: right;*/
    /*border: 1px solid pink;*/
}


.warning {
    background-color: red;
}