body {
    font-size: 1.8em;
    font-family: "Verdana", sans-serif;
}

.btn {
    cursor: hand;
    border: 1px solid #ccc;
    
}

.btn-full {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 10px;
}

.btn-head {
    display: block;
    font-size: 1.6em;
    font-weight: bold;
}

.btn-body {
    font-size: 1.0em;
}

.head {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    text-align: center;
}

.head span {
    padding: 4px 16px;
    display: block;
}

.head .name {
    float: left;
}

.head .title {
    display: inline-block;
    font-weight: bold;
}

.head .timer {
    float: right;
}

.app-container {
    margin-top: 3ch;
}

.team-table {
    width: calc(100% - 40px);
    padding: 0 10px;
    margin: 0 10px;
    table-layout: fixed;
}

.team .id {
    width: 5ch;
}

.team-id {
    float: left;
    width: 3ch;
    border-radius: 10% 30%;
    background: #666;
    text-align: center;
    font-weight: bold;
    color: white;
}

.team .name {
    max-width: 50%;
    overflow: hidden;
    white-space: nowrap;
}

.team-name {
    display: inline-block;
    width: 100%;
    position: relative;
    padding-right: 10px;
}

.team-name:after {
    content:'';
    position: absolute;
    width: 33%;
    height: 100%;
    right: 0;
    top: 0;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.hidden {
    display: none;
}

.times {
    width: 8%;
}

.time-in, .time-out {
    color: #aaa;
    font-size: 50%;
}

.time-diff {
    width: 15%;
    white-space: nowrap;
}


.warning {
    background-color: red;
}


@media (max-width: 720px) {
    .times {
        display: none;
    }
}


@media (max-width: 576px) {
    .time-diff {
        display: none;
    }
}